/*TODO Progressbar, Slider Abstand zueinander, Slider Thumb*/
.hbox{
    -fx-background-color: rgb(255, 255, 255);
}

.button {
    -fx-background-color: transparent;
}

.label {
     -fx-text-fill: #333333;
     -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    }

.slider .track {
    -fx-pref-height: 1.2px;
    -fx-background-color: #666666;
}

.slider .thumb {
    -fx-background-color: #666666;
}

#volumeSlider {
    -fx-orientation: horizontal;
}

#titleLabelCell {
    -fx-font-weight: bold;
}

#artistLabelCell {
}

#Songtitle {
    -fx-font-weight: bold;
}

#playButton {
    -fx-border-style: none;
}

#nextButton {
}

#prevButton {
}

#pauseButton {
}

.toggle-button {
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: rgb(162, 162, 162)
}


